$color-dark: black;
$color-primary: rgba(71, 49, 49, 1.0);
$color-secondary: rgba(71, 49, 49, 0.9);
$color-dark-opacity: rgba(0, 0, 0, 0.15);
$color-light: #fff;
$color-noodle: rgba(224, 150, 11, 1.0);
$color-rice: rgba(175, 22, 60, 1.0);
$color-soup: rgba(33, 87, 150, 1.0);
$color-vegetables: rgba(23, 156, 74, 1.0);

$text-xs: 20px;
$text-sm: 36px;
$text-md: 40px;
$text-lg: 45px;
$text-xl: 50px;